<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon-white.png" />
    <title>จรจัด | Jornjad</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />
    <style>
        /* จัดการตำแหน่งของภาพพื้นหลัง */
        .slant-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        /* ทำให้ภาพพื้นหลังเลื่อนตามการเลื่อนของผู้ใช้ */
        .slant {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
            transition: transform 0 s ease-in-out;
        }

        /* สำหรับแอนิเมชั่นการเลื่อน */
        .window-scroll {
            transform: translateY(0); /* เริ่มต้นที่ตำแหน่งปกติ */
        }

        .scrolled {
            transform: translateY(-70px); /* เมื่อเลื่อนลง จะย้ายภาพขึ้นไป 50px */
        }
    </style>
</head>
<body>
    <%- include("partials/navbar") -%>
      
    <div class="slant-container">
        <img src="/images/feral-cats-l 1.png" alt="Background Image" class="slant">

        <div class="text-overlay">
            <h1 class="text-center text-brown">มาเป็นส่วนหนึ่งในการช่วยเหลือได้ที่นี่</h1>
            <p class="text-center text-black">คุณเอง ก็ช่วยดูแลได้สัตว์จรได้</p>
            <!-- <div class="px-4 py-2 font-medium text-white bg-brown rounded-md hover:bg-brown" 
                href="./login.html">
                Sign up
            </div -->
        </div>
    </div>

    <!-- จุดประสงค์ Section -->
    <div class="site-section">
        <div class="row">
            <div class="mb-4 position-relative text-center mx-auto">
                <h1 class="font-bold font-medium text-brown">จุดประสงค์</h1>
                <p>เว็บไซต์นี้ถูกสร้างขึ้นเพื่อเป็นส่วนหนึ่งในการช่วยเหลือแมวจรหมาจร ให้พวกเขาได้รับโอกาสที่ดีขึ้น</p>
            </div>
        </div>
        <div class="row">
            <div class="grid grid-cols-3 gap-3">
                <div class="box">
                    <div class="blog_entry">
                    <a href="#"><img src="/images/index1.jpg" alt="Mission Image" class="img-fluid"></a>
                    <div class="p-4 bg-white">
                        <h3><a href="#">สนับสนุนที่พักพิง</a></h3>
                        <p>สร้างและสนับสนุนที่พักพิงให้สัตว์จรจัดมีที่อยู่ปลอดภัย</p>
                        <p class="more"><a href="#">อ่านเพิ่มเติม...</a></p>
                    </div>
                    </div>
                </div>
    
                <div class="box">
                    <div class="blog_entry">
                    <a href="#"><img src="/images/index2.webp" alt="Mission Image" class="img-fluid"></a>
                    <div class="p-4 bg-white">
                        <h3><a href="#">การดูแลสุขภาพ</a></h3>
                        <p>จัดหาบริการทางการแพทย์ให้เข้าถึงกับสัตว์จรจัดที่ต้องช่วยเหลือ</p>
                        <p class="more"><a href="#">อ่านเพิ่มเติม...</a></p>
                    </div>
                    </div>
                </div>
    
                <div class="box">
                    <div class="blog_entry">
                    <a href="#"><img src="/images/index3.jpeg" alt="Mission Image" class="img-fluid"></a>
                    <div class="p-4 bg-white">
                        <h3><a href="#">โครงการรับเลี้ยง</a></h3>
                        <p>ช่วยเหลือสัตว์จรจัดให้ได้รับโอกาสบ้านใหม่ที่อบอุ่น<br><br></p>
                        <p class="more"><a href="#">อ่านเพิ่มเติม...</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>

    <script>
        const slantImage = document.querySelector('.slant');
    
        window.addEventListener('scroll', function () {
            const scrollPosition = window.scrollY;
            slantImage.style.transform = `translateY(${scrollPosition * 0.3}px)`;
        });
    </script>
</body>
</html>